.iceberg-regular {
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.label {
    display: flex;
    align-items: center;
    gap: 6px;                   
}



body {
    background-color: grey;
    padding: 0px;
    margin: 0px;
    font-family: "Iceberg", Arial, Helvetica, sans-serif;
}

.ui.menu {
    display: flex;
    align-items: center;
    padding: 30px;
    background-color: black;
}

.ui.menu .right.menu {
    margin-left:auto;
}
.ui.menu .item {
    font-size: 1.5em;
    padding:10px;
    color: white;
}

.welcome {
    padding: 0px;
    height: 40em;
    display: flex;
    justify-content: center;
    align-items: center;
}


.textBox {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid black;
    border-image: linear-gradient(to right, transparent, black, transparent) 1;  
}

h1 {
    font-size: 4em;
}

h2 {
    padding-top: 70px;
    font-size: 3em;
    z-index: 10;
}

h3 {
    font-size: 2em;
}

.slantedTop {
    background-color: white;
    transform: skewY(14deg);
}

.highlights {
    background-color: white;
    clip-path: polygon(0 120px,100% 0,100% calc(100% - 120px),0% 100%);
}

.skills {
    background-color: white;
    clip-path: polygon(0 0px,100% 120px,100% 100%,0% calc(100% - 120px));
}



.hcontainer {
    padding-top: 50px;
    padding-bottom: 200px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.vcontainer {
    padding-top: 50px;
    padding-bottom: 200px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ui.card {
  width: 400px;
  height: 500px;
  overflow: hidden; 
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 8px;
  margin-left:15px;
  margin-right: 15px;
}


.ui.card .image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}

.profilePicture {
    padding-top: 30px;
    padding-left:50px;
    padding-bottom: 20px;

}

.aboutMe {
    padding-left: 50px;
    padding-top: 20px;
    display: flex;
}

.aboutMeText {
    padding-left: 30px;
    font-size: 2em;
}

.aboutMeHead .textBox h2 {
    padding:0px;
}



title {
    text-align: center;
}

.ui.progress {
    padding: 5px;
    width:70%;
    border-radius: 5px;
}

.ui.progress .bar {
    border-radius:  5px;
    background:blue; 
    overflow: hidden;
    height: 20px;
}
.ui.progress .bar .progress {
    height: 100%;
    background: green;
}

.java .bar .progress {
    width: 50%;
    padding: 0px;
}